In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from biosppy import signals as bio_signals

In [2]:
participants_name = "Part01"
default_path = "C:\\Users\\wrfro\\raspbit_data\\"

In [3]:
participant_file = default_path + participants_name + ".csv"
data_processing = pd.read_csv(participant_file, delimiter=';')
data_processing = data_processing[20000:len(data_processing)-20000].reset_index()

In [4]:
pre_stress = data_processing[90000:150000].reset_index()
stress = data_processing[300000:360000].reset_index()
post_stress = data_processing[510000:570000].reset_index()

pre_stress_eda = data_processing[200000:300000].reset_index()
stress_eda = data_processing[350000:450000].reset_index()
post_stress_eda = data_processing[500000:600000].reset_index()

In [5]:
pre_stress.head()

,level_0,index,PARTICIPANT,CLINICAL,AGE,WEIGHT,HEIGHT,BMI,ECG,EDA,RESP,TIME
0,90000,110000,part01,no,26,91,165,33.43,480,416,408,23/4/2021 8:20:49
1,90001,110001,part01,no,26,91,165,33.43,481,416,408,23/4/2021 8:20:49
2,90002,110002,part01,no,26,91,165,33.43,481,416,408,23/4/2021 8:20:49
3,90003,110003,part01,no,26,91,165,33.43,482,416,408,23/4/2021 8:20:49
4,90004,110004,part01,no,26,91,165,33.43,483,416,408,23/4/2021 8:20:49

In [6]:
pre_stress.head()

,level_0,index,PARTICIPANT,CLINICAL,AGE,WEIGHT,HEIGHT,BMI,ECG,EDA,RESP,TIME
0,90000,110000,part01,no,26,91,165,33.43,480,416,408,23/4/2021 8:20:49
1,90001,110001,part01,no,26,91,165,33.43,481,416,408,23/4/2021 8:20:49
2,90002,110002,part01,no,26,91,165,33.43,481,416,408,23/4/2021 8:20:49
3,90003,110003,part01,no,26,91,165,33.43,482,416,408,23/4/2021 8:20:49
4,90004,110004,part01,no,26,91,165,33.43,483,416,408,23/4/2021 8:20:49

In [7]:
post_stress.head()

,level_0,index,PARTICIPANT,CLINICAL,AGE,WEIGHT,HEIGHT,BMI,ECG,EDA,RESP,TIME
0,510000,530000,part01,no,26,91,165,33.43,518,98,473,23/4/2021 8:27:49
1,510001,530001,part01,no,26,91,165,33.43,519,98,473,23/4/2021 8:27:49
2,510002,530002,part01,no,26,91,165,33.43,518,101,472,23/4/2021 8:27:49
3,510003,530003,part01,no,26,91,165,33.43,517,95,472,23/4/2021 8:27:49
4,510004,530004,part01,no,26,91,165,33.43,516,103,472,23/4/2021 8:27:49

<h1>ECG

In [8]:
ecg_signal_01 = bio_signals.ecg.ecg(signal=pre_stress['ECG'], sampling_rate=1000, show=False)
ecg_signal_02 = bio_signals.ecg.ecg(signal=stress['ECG'], sampling_rate=1000, show=False)
ecg_signal_03 = bio_signals.ecg.ecg(signal=post_stress['ECG'], sampling_rate=1000, show=False)

In [24]:
pre_stress['ECG']

0        480
1        481
2        481
3        482
4        483
        ...
59995    515
59996    515
59997    515
59998    515
59999    515
Name: ECG, Length: 60000, dtype: int64

In [25]:
len(ecg_signal_01['filtered'])

60000

<h1>EDA

In [26]:
eda_signal_01 = bio_signals.eda.eda(signal=pre_stress['EDA'], sampling_rate=1000, show=False)
eda_signal_02 = bio_signals.eda.eda(signal=pre_stress['EDA'], sampling_rate=1000, show=False)
eda_signal_03 = bio_signals.eda.eda(signal=pre_stress['EDA'], sampling_rate=1000, show=False)

In [27]:
post_stress_eda['EDA']

0        103
1         96
2        103
3         97
4        103
        ...
99995     91
99996     91
99997     91
99998     91
99999     91
Name: EDA, Length: 100000, dtype: int64

In [28]:
len(eda_signal_03['filtered'])

60000

<h1>RESP

In [10]:
resp_signal_01 = bio_signals.resp.resp(signal=pre_stress['RESP'], sampling_rate=1000, show=False)
resp_signal_02 = bio_signals.resp.resp(signal=stress['RESP'], sampling_rate=1000, show=False)
resp_signal_03 = bio_signals.resp.resp(signal=post_stress['RESP'], sampling_rate=1000, show=False)

<h1>Results

In [11]:
print(" & %.3f & %.3f & %.3f\n\n" %(ecg_signal_01['heart_rate'].mean(), ecg_signal_02['heart_rate'].mean(), ecg_signal_03['heart_rate'].mean()))

print(" & %.3f & %.3f & %.3f\n\n" %(resp_signal_01['resp_rate'].mean(), resp_signal_02['resp_rate'].mean(), resp_signal_03['resp_rate'].mean()))

print(" & %.3f & %.3f & %.3f\n\n" %(eda_signal_01['filtered'].mean(), eda_signal_02['filtered'].mean(), eda_signal_03['filtered'].mean()))

 & 66.593 & 78.050 & 63.836


 & 0.251 & 0.299 & 0.289


 & 165.590 & 123.905 & 95.751